<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="nav-buttons" th:fragment="navigation">
    <button onclick="navigateTo('/home')" class="turn-page-btn">Go to Home Page</button>
    <button onclick="navigateTo('/about')" class="turn-page-btn">Go to About Page</button>
    <button onclick="navigateTo('/students')" class="turn-page-btn">Go to Students Page</button>
    <button onclick="navigateTo('/contact')" class="turn-page-btn">Go to Contact Page</button>
</div>
</body>
</html>
